body{
    margin: 0;
    padding: 0;
}


#anatomi{
    display: grid;
    width: 100%;
    gap: 10px;
    margin-right: 4%;
}
.anatomi:hover{
    transition: 1s;
    color: black;
}
.brnd{
    width: 100%;
}
.trec{
width: 38%;
margin: 20px;
cursor: pointer;
}
.trec:hover{
    opacity: 0.5;
    transition: 1s;
}
@media screen and (max-width:1400px){
    #week{
        width: 100%;
      }
      #anatomi{
        margin-right: 6%;
      }
    .brnd{
     width: 100%;
    }
     .trec{
         width: 30%;
     }
 }
@media screen and (max-width:1100px){
  #week{
    width: 100%;
  }
  #anatomi{
    margin-right: 8%;
  }
    .brnd{
    width: 100%;
   }
    .trec{
        width: 30%;
    }
}
@media screen and (max-width:800px){
   #ios{
        display: none;
    }
}
@media screen and (max-width:600px){
    #anatomi,#asle,#wk,.input,hr,.brnd,.trec{
        display: none;
        
    }

   
}