.about{
    width: 97%;
    display: inline-block;
}
.Frame{
    color: #3366ff;
   font-size: 23px;

}
.ftn{
    width: 97%;
}
.fitnes{
    width: 100%;
   line-height: 1.5;
   font-size: 17px;
   box-sizing: border-box;
   color: rgb(145, 140, 140);
   text-align: justify;
}